body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --accent-color: rgb(204, 0, 0);
  --lightest-gray: rgb(244, 244, 244);
  --light-gray: rgb(144, 144, 144);
  --medium-gray: rgb(96, 96, 96);
  --dark-gray: rgb(13, 13, 13);
  --header-height: 50px;
  --animation-duration: 200ms;
  --animation-timing-curve: ease-in-out;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .4);
  padding: 12px;
  height: var(--header-height);
  z-index: 10;
}
.header-right {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.notification .badge {
  position: relative;
  top: -17px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 10px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown .dropdown-content a:hover{
  background-color: rgb(221,221,221);
}
.header a:hover {
  background-color: var(--lightest-gray);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.menu-icon-btn {
  background: none;
  border: none;
  float: left;
}

.menu-icon {
  width: 25px;
  height: 25px;
  fill: var(--medium-gray);
  cursor: pointer;
}

.menu-icon:hover {
  fill: black;
}

.sidebar {
  flex-shrink: 0;
  overflow: hidden;
  width: 75px;
  border-right: 1px solid var(--light-gray);
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  padding-top: 1rem;
  align-items: center;
  justify-content: stretch;
  transition: width var(--animation-duration) var(--animation-timing-curve);
  position: sticky;
  left: 0;
  top: var(--header-height);
  z-index: 10;
  background-color: white;
}

.sidebar .hidden-sidebar {
  opacity: 0;
  width: 0;
  transition: opacity var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .hidden-sidebar {
  width: 100%;
  height: auto;
  opacity: 1;
}

.sidebar .channel-logo {
  display: block;
  width: 30px;
  height: 30px;
  transition: var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .channel-logo {
  width: 90px;
  height: 90px;
}

.sidebar .channel-logo > img {
  width: 100%;
  height: 100%;
}

.middle-sidebar {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  margin: 1rem 0;
}

.middle-sidebar,
.bottom-sidebar {
  width: 100%;
}

.sidebar-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.sidebar.open .sidebar-link {
  justify-content: flex-start;
}

.sidebar-icon {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}

.sidebar-list .hidden-sidebar {
  margin-left: 1.5rem;
  white-space: nowrap;
}

.sidebar-link {
  display: flex;
  width: 100%;
  padding: .5rem 0;
  color: var(--light-gray);
  text-decoration: none;
  align-items: center;
  padding-left: 25px;
}

.sidebar-list-item {
  position: relative;
  width: 100%;
  fill: var(--light-gray);
}


.sidebar-list-item:hover {
  background-color: var(--lightest-gray);
}

.sidebar.open {
  width: 200px;
}

.sidebar .top-sidebar {
  height: 30px;
  transition: height var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .top-sidebar {
  height: 125px;
}

.filter-input {
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  width: 60%;
  margin-bottom: 10px;
}

.filter-button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  font-size: 1.2em;
}
#example th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(0,170,254);
  color: white;
  text-align: center;
}
.hidden {
  display: none;
}
.beauty-button {
  background-color: #f8f8f8;
  border: none;
  color: #333;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.beauty-button:hover {
  background-color: #333;
  color: #f8f8f8;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
#myTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(0,170,255);
  color: white;
}
#myTable tr:nth-child(even){background-color: #f2f2f2;}

#myTable tr:hover {background-color: #ddd;}

#myTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#myTable td, #myTable th {
  border: 1px solid #ddd;
  padding: 8px;
}
.paginationjs {
  display: flex;
  justify-content: flex-end;
}
.paginationjs-go-input, .paginationjs-go-button {
  display: grid;
  place-items: center;
}
.paginationjs-go-input input{
  width: 30px;
  height: 30px;
  margin-left: 5px;
}
.paginationjs-go-button input{
  margin-left: 5px;
  background-color: rgb(4,169,254);
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 25%;
  color: white;
  font-size: 18px;
}
.paginationjs-pages ul{
  display: flex;
}
.paginationjs-pages ul li:not(.paginationjs-ellipsis){
  display: grid;
  place-items: center;
  list-style: none;
  margin: 3px;
  padding: 5px;
  border: 1px solid gray;
  box-sizing: border-box;
  cursor: pointer;
  background-color: rgb(242, 242, 242);
}
.paginationjs-ellipsis {
  display: grid;
  place-items: center;
  list-style: none;
}
.paginationjs-pages ul li:hover{
  background-color: rgb(197, 197, 197);
}
.content {
  width: 100%;
}
.content_bottom {
  display: flex;
  justify-content: center;
  width: 50vh;
}
#table {
  display: grid;
  place-content: center;
}