<!DOCTYPE html>
<html>
<head>
	<title>Login Form</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<form action="login" method="POST">
		<label for="username">Username:</label>
		<input type="text" id="username" name="username" required><br><br>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required><br><br>
		<input type="submit" value="Login">
	</form>

	<script>
    var form = document.querySelector('form');
    form.addEventListener('submit', async (event) => {
        event.preventDefault();
        var formData = new FormData(form);
        var response = await fetch('http://127.0.0.1:8000/auth/token', {
            method: 'POST',
            body: formData
        });
        var data = await response.json();
        if (data.access_token) {
            localStorage.setItem('token', data.access_token);
            document.cookie = `token=${data.access_token}`;
            var table_name = 'cal_curve_value'; // replace with the actual table name
            var token = data.access_token;
            var apiResponse = await fetch(`http://127.0.0.1:8000/api/${table_name}`, {
                headers: {
                    'Authorization': `bearer ${token}`
                }
            });
        } else {
            alert('Invalid username or password');
        }
        fetch('http://127.0.0.1:8000/api/cal_curve_value', {
        method: 'GET',
        headers: {
            'Authorization': `bearer ${token}`,
            'login_user': `${token}`
        }
        })
        .then(response => response.json())
        .then(data => console.log(data))
        .catch(error => console.error(error))

        
    });
</script>

</body>
</html>
